@{
    ViewBag.Title = "OAuth Test Page";
}

<div class="container">

    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>

    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">OAuth Server Supported Gruant types:</div>
            </div>
            <div class="panel-body">
                <p>
                    @Html.ActionLink("Authorization Code Grant", "Index", "AuthCode")
                </p>
                <p>
                    @Html.ActionLink("Implicit Grant", "Index", "Implicit")
                </p>
                <p>
                    @Html.ActionLink("Resource Owner Password Credentials Grant", "Index", "Password")
                </p>
                <p>
                    @Html.ActionLink("Client Credentials Grant", "Index", "ClientCredential")
                </p>
            </div>
        </div>
    </div>
</div>
