#Junk Files
*.DS_Store
[Tt]humbs.db

#Log Folder
[Ll]og

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
[Cc]lient[Bb]in
[Gg]enerated_[Cc]ode
[Oo]utput
[Ss]ql
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
*.schemaview
*.Publish.xml
*.manifest
*.xap
*.sln.ide

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# NuGet Packages Directory
packages

#MonoDevelop
*.pidb
*.userprefs
*.dll.mdb