<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">OAuth Client Web App</a>
            </div>
        </div>
    </nav>
    @RenderBody()
    <script src="~/Resources/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
